.MuiCard-root.card-design {
  background-color: #121212;
  color: #ffffff;
}

.MuiCard-root.card-design:hover {
  transform: scale(1.08);
  box-shadow: 0px 0px 20px 5px #ecf1f8;
}
.card-design .content {
  padding-bottom: 0;
}

.card-design .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-design p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content h5 {
  flex-grow: 1;
  display: flex;
}
