.MuiCard-root.custom-card {
  transition: all 0.2s ease-in-out;
}

.MuiCard-root.custom-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 20px 1px #3f51b5;
}

.custom-card .content {
  padding-bottom: 0px;
}

.custom-card .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-card .card-image {
  padding: 0px 0px 0px 0px;
}

.custom-card p {
  color: #3f51b5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-card .price {
  margin-top: 10px;
  color: #0323da;
}

.custom-card .status {
  margin-top: 0px;
  color: #45c712;
}

.custom-card .actions-content {
  padding: 5px 5px 5px 15px;
}

.custom-card .basket-item-price {
  margin-bottom: 0;
}

.actions-content {
  display: flex;
}

.actions-content h2 {
  flex-grow: 1;
}

.custom-card .custom-button {
  color: #3f51b5;
}

.custom-card .custom-button:hover {
  background-color: #3f51b51f;
}

.custom-card .custom-button svg {
  margin-right: 10px;
}

.custom-card .increase-product-quantity {
  color: #3f51b5;
  border-color: #3f51b5;
}
