.product-view {
  margin: 10px 0 60px 0;
}

.product-view .text {
  color: #3f51b5;
}
.product-view .text h2 {
  font-size: 35px;
  padding-left: 10px;
}
.product-view .text span h1 {
  font-size: 20px;
  font-weight: 300;
  padding-left: 10px;
}
.product-view .text h3 {
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
}
.product-view .text h6 {
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
}
.product-view .action-part {
  margin-top: 10px;
}
.product-view .action-part .custom-button {
  color: rgb(255, 255, 255);
  background-color: #3f51b5;
  float:right
}
.product-view .action-part .custom-button:hover {
  color: #3f51b5;
  padding-left: 10px;
}
.product-view .action-part .custom-button svg {
  margin-right: 10px;
}
